@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', 'Open Sans';
    font-weight: 900;
    background: url('../imgNosotros/wallUno.jpg') no-repeat center center/cover;
}

.carouselUno {
    background: url('../imgNosotros/eat.jpeg') no-repeat bottom center/cover;
    height: 400px;
}

.carouselDos {
    background: url('../imgNosotros/laugh.webp') no-repeat bottom center/cover;
    height: 400px;
}

.carouselTres {
    background: url('../imgNosotros/kiss.webp') no-repeat bottom center/cover;
    height: 400px;
}

.articulo {
    background-color: rgb(0, 0, 94);
    width: 100%;
    height: 330px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.azul{
    font-size: 50px;
    border-radius: 2em;
    color: white;
    text-shadow: 0 0 5px #7bacff,
    0 0 10px #7bacff,
    0 0 15px #7bacff,
    0 0 20px #7bacff,
    0 0 40px #7bacff,
    0 0 80px #7bacff,
    0 0 90px #7bacff,
    0 0 100px #7bacff
}

.gris{
    font-size: 20px;
    border-radius: 2em;
    color: rgb(224, 224, 224);
    text-shadow: 0 0 5px #424242,
    0 0 10px #424242,
    0 0 15px #424242,
    0 0 20px #424242,
    0 0 40px #424242,
    0 0 80px #424242,
    0 0 90px #424242,
    0 0 100px #424242
}

.equipo {
    background: url('../imgNosotros/equipo.jpeg') no-repeat center center/cover;
    width: 100%;
    height: 250px;
    margin-top: 100px;
    
}

.evento {
    background: url('../imgNosotros/evento.jpeg') no-repeat bottom center/cover;
    width: 100%;
    height: 250px;
    margin-bottom: 90px;
}

.nosotrosFoto {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.card {
    transition: 300ms ease;
    background-color: rgba(0, 0, 0, 0.3);
}

.card:hover{
    transform: scale(1.04);
}