@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800;900&display=swap');

*{
	font-family: "Montserrat", sans-serif;
	background-color: black;
}
.error{
  position: absolute;
  top: 50%;
  left: 50%;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  display: block;
  color: #12000a;
  font-weight: 400;
  font-family: Audiowide;
  text-shadow: 0px 0px 4px #12000a;
  
  animation: fadeInText 1s ease-in 3.5s forwards, flicker4 5s linear 7.5s infinite, hueRotate;
}

.error2{
  position: absolute;
  top: 70%;
  left: 50%;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  display: block;
  color: #12000a;
  font-weight: 600;
  font-family: Audiowide;
  text-shadow: 0px 0px 4px #12000a;
  
  animation: fadeInText 1s ease-in 3.5s forwards, flicker4 5s linear 7.5s infinite, hueRotate;
}
.imagen{
    width: 370px;
    margin-bottom: 50px;
}

@media all and (max-width:575px){
    .error{
        font-size: 93px;
    } 
    .imagen{
        width: 93px;
        margin-bottom: 30px;
    }
}

@media all and (min-width:576px) and  (max-width:767px){
	.error{
		font-size: 180px;
    } 
    .imagen{
		width: 180px;
        margin-bottom: 40px;
    }
    .font{
		padding: 10px;
    }
}
@media all and (min-width:768px) and  (max-width:991px){
	.error {
		font-size: 300px;
	} 
	.imagen{
		width: 210px;
		margin-bottom: 50px;
	}
}
@media all and (min-width:992px) {
	.error {
		font-size: 170px;
	} 
	.imagen{
		width: 300px;
		margin-bottom: 60px;
	}
}

@keyframes flicker4{
  0%  {color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
  30% {color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
  31% {color: #12000a;text-shadow:0px 0px 4px #12000a;}
  32% {color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
  36% {color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
  37% {color: #12000a;text-shadow:0px 0px 4px #12000a;}
  41% {color: #12000a;text-shadow:0px 0px 4px #12000a;}
  42% {color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
  85% {color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
  86% {color: #12000a;text-shadow:0px 0px 4px #12000a;}
  95% {color: #12000a;text-shadow:0px 0px 4px #12000a;}
  96% {color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
  100%{color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
}

@keyframes fadeInText{
  1%  {color: #12000a;text-shadow:0px 0px 4px #12000a;}
  70% {color: #ff005d;text-shadow:0px 0px 14px #ff005d;}
  100%{color: #ff005d;text-shadow:0px 0px 4px #ff005d;}
}
