.error-container {
    text-align: center;
	font-size: 370px;
	font-family: 'Catamaran', sans-serif;
	font-weight: 800;
}
.error-container > span {
    display: inline-block;
	line-height: 0.7;
	position: relative;
	color: #f9c21d;
}
.error-container > span > span {
    display: inline-block;
	position: relative;
}
.error-container > span:nth-of-type(1) {
    perspective: 1000px;
	perspective-origin: 500% 50%;
	color: #f9c21d;
}
.error-container > span:nth-of-type(1) > span {
    transform-origin: 50% 100% 0px;
	transform: rotateX(0);
	animation: easyoutelastic 8s infinite;
}
.error-container > span:nth-of-type(3) {
    perspective: none;
	perspective-origin: 50% 50%;
	color: #f9c21d;
}
.error-container > span:nth-of-type(3) > span {
    transform-origin: 100% 100% 0px;
	transform: rotate(0deg);
	animation: rotatedrop 8s infinite;
}
.font{
    font-family: 'Inter', sans-serif;
    background-color: #f9c21d;
    border-radius: 10px;
    text-align: center;
    padding: 15px ;
}
.imagen{
    width: 370px;
    margin-bottom: 50px;
}

@media all and (max-width:575px){
    .error-container {
        font-size: 93px;
    } 
    .imagen{
        width: 93px;
        margin-bottom: 30px;
    }
    .font{
        padding: 10px;
    }
}

@media all and (min-width:576px) and  (max-width:767px){
	.error-container {
		font-size: 180px;
    } 
    .imagen{
		width: 180px;
        margin-bottom: 40px;
    }
    .font{
		padding: 10px;
    }
}
@media all and (min-width:768px) and  (max-width:991px){
	.error-container {
		font-size: 210px;
	} 
	.imagen{
		width: 210px;
		margin-bottom: 50px;
	}
	.font{
		padding: 10px;
	}
}
@media all and (min-width:992px) {
	.error-container {
		font-size: 300px;
	} 
	.imagen{
		width: 300px;
		margin-bottom: 60px;
	}
	.font{
		padding: 10px;
	}
}
@keyframes easyoutelastic {
	0% {
		transform: rotateX(0);
	}
	9% {
		transform: rotateX(210deg);
	}
	13% {
		transform: rotateX(150deg);
	}
	16% {
		transform: rotateX(200deg);
	}
	18% {
		transform: rotateX(170deg);
	}
	20% {
		transform: rotateX(180deg);
	}
	60% {
		transform: rotateX(180deg);
	}
	80% {
		transform: rotateX(0);
	}
	100% {
		transform: rotateX(0);
	}
}

@keyframes rotatedrop {
	0% {
		transform: rotate(0);
	}
	10% {
		transform: rotate(30deg);
	}
	15% {
		transform: rotate(90deg);
	}
	70% {
		transform: rotate(90deg);
	}
	80% {
		transform: rotate(0);
	}
	100% {
		transform: rotateX(0);
	}
}