@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800;900&display=swap");

h1,
h2,
h3 {
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

.rowBrick {
  background-image: url(../../img/purplewall.jpg);
  background-size: cover;
  padding: 30px;
  min-height: 600px;
  justify-content: space-around;
}

.imgPromo {
  width: 100%;
  object-fit: cover;
  box-shadow: 5px 5px 50px black;
}

.imgPromo:hover {
  transition: 400ms;
  top: 4px;
  right: 4px;
  left: 4px;
  bottom: 4px;
  position: relative;
}

.colPromo {
  width: 100%;
}

.rowConocenos {
  background-color: rgb(47, 45, 51);
  max-height: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.rowConocenos h1,
h2 {
  font-weight: 800 !important;
  font-family: "Montserrat", sans-serif;
}

.rowConocenos .btn {
  color: white;
  outline: 2px white solid;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
}

.rowConocenos .btn:hover {
  color: #c85bd4 !important;
  outline: 2px #c85bd4 solid;
}

.colConocenos {
  width: 100%;
}

.imgConocenos {
  max-height: 500px;
  width: 100%;
  object-fit: cover;
}

/* Menú */
.sectionMenu {
  position: static;
  text-align: center;
  background-color: #84358d;
}

.sectionMenu h1 {
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}

.rowProd {
  background-color: #84358d;
  padding: 0px 20px 0px 20px;
}

.titulo {
  color: #363982;
  font-size: 200px;
  margin: 0;
  padding: 20px;
}

.carouselPpal {
  display: none;
}

/* Mediaqueries */
/* Celular */

@media all and (max-width: 760px) {
  .titulo {
    font-size: 50px;
  }
  .imgConocenos {
    max-height: 200px;
  }

  .colPromo {
    margin-bottom: 20px;
  }
  .rowConocenos {
    min-height: 450px;
    align-content: space-around;
  }
}

@media all and (min-width: 767px) and (max-width: 991px) {
  .titulo {
    font-size: 50px;
  }
}

@media all and (max-width: 991px) {
  .carouselPpal {
    display: block;
  }
  .promosPpal {
    display: none;
  }
}
