.bg-gris {
    background-color: #ece6e6;
}

.bg-login {
    background-color: hsl(33, 41%, 95%);
}

.custom-input {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #959ba7;
    border-radius: 0;
    color: #000;
    display: inline-block;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375;
    padding: .25rem 0;
    position: relative;
    transition: color .2s,border .2s;
    width: 100%;
}

.bg-grupo {
    background-color: #ffffff;
    padding: 8px;
    border-radius: 10px;
}

.rowBrick {
    background-image: url(../../img/purplewall.jpg);
    background-size: cover;
    padding: 30px;
    min-height: 600px;
    justify-content: space-around;
}