@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800;900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
.carrito h1 {
  font-weight: 800;
}
.fondo {
  padding-top: 180px;
  background-image: url(../../img/purplewall.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.tabla {
  background-color: white;
  color: black;
  border-radius: 0px 5px;
}

.botont {
  color: white;
}

.itemPedido{
  font-weight: 400;
}