.imagen {
    /* background-image: url(https://images.pexels.com/photos/1639562/pexels-photo-1639562.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
    background-image: url(../../img/roger\ house.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    width: 100%;
    background-size: cover;
}
.bg-form {
    background-color: rgba(0, 0, 0, 0.312) !important;
}
.px-20 {
    padding-left: 250px;
    padding-right: 250px;
}

/* Celulares */
@media all and (max-width: 760px) {
    .imagen {
        /* background-position-x: 75%; */
        background-position-y: 100%;
    }
    .px-20 {
        padding-left: 30px;
        padding-right: 30px;
    }
}
/* Tablets */
@media all and (min-width: 761px) and (max-width: 991px) {
    .px-20 {
        padding-left: 100px;
        padding-right: 100px;
    }
}
@media all and (min-width: 992px) and (max-width: 1399px) {
    .px-20 {
        padding-left: 100px;
        padding-right: 100px;
    }
    .py-20 {
        height: 50vh;
    }
}
