.cardDescrip {
  font-family: "Montserrat", sans-serif;
}

.cardImg {
  max-height: 300px;
  object-fit: cover;
  border: 0px;
}

.cardProd {
  /* box-shadow: 5px 5px 50px rgb(223, 93, 97); */
  border: 0px !important;
}

.cardProd:hover {
  transition: 400ms;
  top: 4px;
  left: 4px;
  position: relative;
}

.btnCarrito {
  width: 50% !important;
}

.btnVerMas {
  width: 25% !important;
}

.cardProd .btnCard {
  background-color: #363982;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: smaller;
}

.cardProd .btnCard:hover {
  background-color: rgb(250, 229, 36) !important;
  color: white !important;
}

@media all and (max-width: 1200px) {
  .btnCard {
    width: 100% !important;
    
  }
}
