
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800;900&display=swap');
* {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.imagenFondo {
  background: url('../../imgNosotros/purplewall.jpg') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 100px;
}

.bgCard {
  background-color: rgba(0, 0, 0, 0.664) !important;
  margin-top: 100px;
}

.tituloDetalle {
  font-weight: 800;
}

.tipografiaDetalle {
  font-weight: 500;
}

.imagenDetalle {
  max-width: 400px;
}

/* Media queries */

@media all and (min-width: 992px) and (max-width: 1399px){

  .bgCard {
    max-width: 1000px !important;
  }
}

@media all and (min-width: 761px) and (max-width: 991px){

  .bgCard {
    max-width: 750px !important;
  }
}

@media all and (min-width: 576px) and (max-width: 760px){

  .bgCard {
    max-width: 450px !important;
  }
}

@media  all and (max-width: 575px) {

  .bgCard {
    max-width: 400px !important;
  }

}
  



